search-component {
  padding-right: 35%;
  padding-left: 35%;
  padding-top: 2%;
  display: block;
}

iframe-component {
  float:right;
  padding-top: 7%;
}

history-component {
  padding-top: 20%;
  padding-left: 5em;
  width: 40%;
}

*{
  color: dimgray;
  font-family: Calibri, serif;
}
